@import url('./core/theme-toggler.css');
@import url('./core/palette.css');

:root {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

header {
  background-color: light-dark(var(--black-900), var(--white));
}
