@import url('./core/index.css');
@import url('./components/index.css');

:root {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  margin: 0;
}
